*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  margin-top: 45px;
  text-align: center;
  background: linear-gradient(to right, rgb(58, 58, 58), rgb(39, 44, 41));
  color: rgb(224, 224, 224);
}

body {
  max-width: 1850px;
  margin: 0 auto;
}

.search-song {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  width: 400px;
  text-align: center;
  margin: 25px;
  border-radius: 5px;
  height: 40px;
  padding: 0 5px;
  font-size: 25px;
}

.search-btn {
  width: 200px;
  height: 70px;
  font-size: 32px;
  border-radius: 15px;
  background: green;
}

.backtoresults {
  padding: 20px;
  margin: 20px auto;
}

.anchor {
  text-decoration: none;
  width: 
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.selection {
  width: 80%;
  max-width: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 7px;
  color: rgba(71, 255, 129, 0.616);
  text-decoration: none;  
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 24px;
  width: 100%;
}

.albumartwork {
  margin: 7px 0 7px 7px;
  opacity: 60%;
}

.selection:hover {
  cursor: pointer;
  background-color: rgba(75, 53, 53, 0.411);
  color: rgb(71, 255, 129);
}

.lyrics {
  word-wrap: unset;
  text-align: center;
  white-space: pre-line;
  margin: 20px;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}

.connectbtn {
  margin: 10px 0;
}

button {
  font-size: 12px;
  padding: 5px;
  border-radius: 50px;
  align-items: center;
}

button:hover, .search-btn:hover {
  cursor: pointer;
}

.spotifylogo {
  height: 30px;
  margin: 3px 5px;
}


.artist-name {
  color: white;
}



.centerleft {
  display: inline-block;
  text-align: left;
}
