*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  margin-top: 45px;
  text-align: center;
  background: linear-gradient(to right, rgb(58, 58, 58), rgb(39, 44, 41));
  color: rgb(224, 224, 224);
}

h1 {
  font-size: 55px;
  max-width: 90%;
  margin:0 auto;
}

body {
  max-width: 1850px;
  margin: 0 auto;
}

.search-song {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  width: 80%;
  max-width: 400px;
  text-align: center;
  margin: 25px;
  border-radius: 5px;
  height: 40px;
  padding: 0 5px;
  font-size: 23px;
}

.search-btn {
  width: 200px;
  height: 70px;
  font-size: 32px;
  border-radius: 15px;
  background: green;
}

.backtoresults {
  padding: 20px;
  margin: 20px auto;
}

.anchor {
  text-decoration: none;
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.selection {
  width: 80%;
  max-width: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 7px;
  color: rgba(71, 255, 129, 0.616);
  text-decoration: none;  
  border-radius: 20px;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 24px;
  width: 100%;
}

.albumartwork {
  margin: 7px 0 7px 7px;
  opacity: 60%;
  border-radius: 20px;
}

.selection:hover, .selection:focus   {
  cursor: pointer;
  background-color: rgba(75, 53, 53, 0.411);
  color: rgb(71, 255, 129);
}

.lyrics {
  word-wrap: unset;
  text-align: center;
  white-space: pre-line;
  margin: 20px;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}

.connectbtn {
  margin: 10px 0;
}

button {
  font-size: 12px;
  padding: 5px;
  border-radius: 50px;
  align-items: center;
}

button:hover, .search-btn:hover {
  cursor: pointer;
}

.spotifylogo {
  height: 30px;
  margin: 3px 5px;
}

.backbutton {
  margin: 0;
  padding: 0;
}

.artist-name {
  color: white;
}



.centerleft {
  margin: 20px auto;
  text-align: left;
  display: inline-block;
}

.result-head {
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 20px;
}

.backtotop {
  box-sizing: content;
  color: rgba(0, 0, 0, 0.699);
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin: 20px 40%;
  width: 100%;
}

.backtotop:hover, .backtotop:focus {
  color: black;
  background-color: rgba(240, 128, 128, 0.281);
}

.italics {
  font-style: italic;
  font-weight: 100;
}

.red {
  color: red;
}


/* opacity 100% for mobile */ 

@media only screen and (max-width: 800px) {
  .albumartwork {
    opacity: 100%;
  }
  
}