*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}



html {
  padding-top: 45px;
  text-align: center;
  background: linear-gradient(to right, rgb(58, 58, 58), rgb(44, 34, 34));
  color: rgb(224, 224, 224);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 55px;
}

body {
  max-width: 1850px;
  margin: 0 auto;
}

.search-song {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  width: 80%;
  max-width: 400px;
  text-align: center;
  margin: 25px;
  border-radius: 5px;
  height: 40px;
  padding: 0 5px;
  font-size: 23px;
  border: 2px solid rgba(0, 12, 1, 0.356);
}

.search-btn {
  width: 200px;
  height: 70px;
  font-size: 32px;
  border-radius: 15px;
  background: green;
}

.search-btn:hover, .search-btn:focus {
  color: white;
  cursor: pointer;
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.selection {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 300px;
  border: 1px solid black;
  margin: 7px;
  color: rgba(71, 255, 129, 0.616);
  text-decoration: none;  
  border-radius: 20px;
}

.selection:hover, .selection:focus   {
  cursor: pointer;
  background-color: rgba(83, 38, 38, 0.493);
  color: rgb(71, 255, 129);
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 24px;
  width: 100%;
  font-size: 18px;
}

.artist-name {
  color: white;
}

.albumartwork {
  margin: 7px 0 7px 7px;
  opacity: 60%;
  border-radius: 20px;
}

.backtotop {
  color: black;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  padding: 15px;
  margin: 30px;
  border-radius: 35px;
}

.backtotop:hover, .backtotop:focus {
  background-color: rgba(240, 128, 128, 0.281);
}

.lyrics {
  display: border-box;
  word-wrap: unset;
  text-align: center;
  white-space: pre-line;
  padding: 50px 0 35px 0;
  margin: 0 10px;
  font-size: 24px;
}

.backtoresults {
  text-decoration: none;
  font-size: 16px;
  background-color:grey;
  color: black;
  border-radius: 25px;
  padding: 20px;
  white-space: normal;
}

.backtoresults:hover {
  color: white;
}


.centerleft {
  margin: 20px auto;
  text-align: left;
  display: inline-block;
}

.result-head {
  font-size: 35px;
  text-align: center;
  width: 100%;
  margin: 40px 0;
}


.italics {
  font-style: italic;
  font-weight: normal;
}

.red {
  color: red;
}

/* element below this on new line */
.line-break {
  width: 100%;
}


/* opacity 100% for mobile */ 

@media only screen and (max-width: 800px) {
  .albumartwork {
    opacity: 100%;
  }
  
}